<form action="javascript:logSubmit()" id="upload-file" enctype="multipart/form-data">
	<label for="file-label">Enter file name</label>
	<input name="file-label" type="text" class="upload-txt" required>
	<label for="upload">File Goes Here
		<input type="file" name="upload" id="upload" required>
	</label>
	<input type="submit" value="file">
</form>
<script src="upload.js"></script>